body {

    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    height: 100vh;
    background-color: hsl(300, 6%, 65%);
    color: white;
  }
  
  .main {
    text-align: center;
    font-family: cursive;
  }
  
  p {
    padding: 2rem;
    text-align: left;
    font-size: large;
    color: black;
    text-align: center;
  }
  #show-btn{
      color: black;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background-color:aqua;
  }
  .me{
    color: black;
  }